{
  "input": {
    # Enable the Kinesis source
    "type": "Kinesis"
    # Name of the application which the KCL daemon should assume
    "appName": "acme-postgres-loader"
    # Name of the Kinesis stream to read from
    "streamName": "enriched-events"
    # AWS region in which the Kinesis stream resides.
    "region": "eu-central-1"
    # Either TRIM_HORIZON or LATEST
    "initialPosition": "TRIM_HORIZON"

    # Optional, set the  polling mode for retrieving records. Default is FanOut
    # "retrievalMode": "FanOut"
    # "retrievalMode": {
    #   "type": "Polling"
    #   "maxRecords": 1000
    # }
  }

  # Alternative input block for PubSub source
  # "input": {
  #   "type": "PubSub"
  #   "projectId": "my-project"
  #   "subscriptionId": "my-subscription"
  # }

  "output" : {
    "type": "Postgres"
    # PostgreSQL host ('localhost' for enabled SSH Tunnel)
    "host": "localhost"
    # PostgreSQL database port
    "port": 5432
    # PostgreSQL database name
    "database": "snowplow"
    # PostgreSQL user to load data
    "username": "postgres"
    # PostgreSQL password, either plain text or from an environment variable
    "password": "mysecretpassword"
    "password": ${?POSTGRES_PASSWORD}
    # PostgreSQL database schema
    "schema": "atomic"
    # JDBC ssl mode
    "sslMode": "REQUIRE"
  }

  # Kind of data stored in this instance. Either ENRICHED_EVENTS or JSON
  "purpose": "ENRICHED_EVENTS"

  "monitoring": {
    "metrics": {
      # Optional, cloudwatch metrics are enabled by default.
      # "cloudWatch": false
    }
  }
}
