# The minimum required config options for loading from kinesis
{
  "input": {
    "type": "Kinesis"
    "streamName": "enriched-events"
    "region": "eu-central-1"
  }

  "output" : {
    "type": "Postgres"
    "host": "localhost"
    "database": "snowplow"
    "username": "postgres"
    "password": ${POSTGRES_PASSWORD}
    "schema": "atomic"
  }
}
