{
  "input": {
    # Enable the Kinesis source
    "type": "Kinesis"
    # Name of the application which the KCL daemon should assume
    "appName": "acme-postgres-loader"
    # Name of the Kinesis stream to read from
    "streamName": "enriched-events"
    # AWS region in which the Kinesis stream resides.
    "region": "eu-central-1"
    # Either TRIM_HORIZON or LATEST
    "initialPosition": "TRIM_HORIZON"

    # Optional, set the polling mode for retrieving records. Default is FanOut
    # "retrievalMode": "FanOut"
    # "retrievalMode": {
    #   "type": "Polling"
    #   "maxRecords": 1000
    # }

    # Optional, configure the checkpointer.
    "checkpointSettings": {
      # The max number of records to aggregate before checkpointing the records.
      # Default is 1000.
      "maxBatchSize": 1000
      # The max amount of time to wait before checkpointing the records.
      # Default is 10 seconds.
      "maxBatchWait": 10 seconds
    }
  }

  "output" : {
    # Events that pass validation are written to Postgres.
    "good": {
      "type": "Postgres"
      # PostgreSQL host ('localhost' for enabled SSH Tunnel)
      "host": "localhost"
      # PostgreSQL database port
      "port": 5432
      # PostgreSQL database name
      "database": "snowplow"
      # PostgreSQL user to load data
      "username": "postgres"
      # PostgreSQL password, either plain text or from an environment variable
      "password": "mysecretpassword"
      "password": ${?POSTGRES_PASSWORD}
      # PostgreSQL database schema
      "schema": "atomic"
      # JDBC ssl mode
      "sslMode": "REQUIRE"
      # Maximum number of connections database pool is allowed to reach
      # Default is 10
      "maxConnections": 10
      # Size of the thread pool for blocking database operations
      # Default is value of "maxConnections"
      "threadPoolSize": 10
    }

    # Events that fail validation are written to specified stream.
    # If this section is removed from config, bad row output will be disabled.
    "bad": {
      # Enable the Kinesis sink as bad row sink
      "type": "Kinesis"
      # Name of the Kinesis stream to write to
      "streamName": "bad-rows"
      # AWS region in which the Kinesis stream resides.
      "region": "eu-central-1"
      # The delay threshold to use for batching
      # Default is 200 milliseconds
      "delayThreshold": 200 milliseconds
      # Max number of items in the batch to collect before emitting
      # Default is 500
      "maxBatchSize": 500
      # Max size of the batch in bytes before emitting
      # Default is 5MB
      "maxBatchBytes": 5000000

      # Only used when "type" is "Noop" or missing. How often to log number of bad rows discarded.
      "reportPeriod": 10 seconds
    }
  }

  # Kind of data stored in this instance. Either ENRICHED_EVENTS or JSON
  "purpose": "ENRICHED_EVENTS"

  "monitoring": {
    "metrics": {
      # Optional, cloudwatch metrics are enabled by default.
      # "cloudWatch": false
    }
  }

  # Minimum and maximum backoff periods
  "backoffPolicy": {
    "minBackoff": 100 milliseconds
    "maxBackoff": 10 seconds
  }
}
